table.custom-table {
    width: 40%;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10%;
    min-width: 400px;
}

table.custom-table td {
    border: 1px solid #000;
}

table.custom-table tr:nth-child(1) {
    height: 20%;
}

table.custom-table tr:nth-child(2) {
    height: 60%;
}

table.custom-table tr:nth-child(3) {
    height: 20%;
}

table.custom-table .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

table.custom-table .company-name {
    font-size: 1.2rem;
    font-weight: bold;
}

table.custom-table .header-links a {
    margin-left: 1rem;
    margin-right: 5px;
    text-decoration: none;
    color: #000;
}
a:hover{
    background-color: #ccc;
    border-radius: 4px;
    padding: 10px;
}

table.custom-table .header-links a:first-child {
    margin-left: 0;
}
h5 {
    text-align: center;
    font-size: 0.8rem;
}

.fld-set{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #888;
    padding: 16px 24px 20px 20px;
    width: 320px;
}
.frm-grp{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.frm-grp label{
    width: 90px;
    text-align: left;
    margin-right: 12px;
}
.frm-grp input{
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
}
.frm-grp input:focus{
    border-color: #007bff;
    outline: none;
}
.frm{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

input[type="submit"]{
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}
input[type="submit"]:hover{
    background-color: #0056b3;
    font-size: 18;
    padding: 7px 12px 7px 12px;
}
.navebar{
    display:flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.logo{
    display: flex;
    align-items: center;
    gap: 6px;
}
.logo-icon{
    margin-left: 8px;
    display: inline-block;
    background: #2a8a2a;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 1px 6px 1px 4px;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%); 
    font-family: Arial Black, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo-text {
  font-weight: bold;
  font-size: 18px;
}
.footer{
    text-align: center;
    font-size: 1rem;
}
.logedin{
    margin-left: 1rem;
    text-align: right;
    margin-right: 5px;
}
.acc{
    margin-left: 10px;
}
.tb{
    border: none !important;
    border-collapse: collapse;
}
.img{
    border-radius: 100px;
}
.btn{
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}
.btn:hover{
    background-color: #0056b3;
    font-size: 18;
    padding: 7px 12px 7px 12px;
}
